= render( partial: 'admins/shared/csv_form',
          locals: { title: '初期設定',
                    card_title: "ステップ 2：学生と研究室の登録（後で変更ができます）",
                    url: admins_init_setup_second_path } )