= render( partial: 'admins/shared/import_form',
          locals: { title: '初期設定',
                    card_title: "ステップ 2：学生と研究室の登録（後で変更ができます）",
                    csv_url: admins_init_setup_second_csv_path,
                    excel_url: admins_init_setup_second_excel_path } )