# ディレクトリ
.git
.github
.nuxt
.vscode
deploy
node_modules
shell

# ファイル
.editorconfig
.env.*
.eslint*
.firebaserc
.gitignore
.prettierrc
.runtimeconfig.json

firebase.json
firestore.indexes.json
firestore.rules
jsconfig.json

*.sh
**/*README.md
