= render partial: 'admin/shared/config_form',
         locals: { title: 'SAP設定',
                   card_title: '変更する場合は以下より行って下さい！',
                   model: @config,
                   url: admin_config_path,
                   controller_name: 'config'}