= render( partial: 'admin/shared/config_form',
          locals: { title: 'SAP設定編集',
                    card_title: '以下より編集を行って下さい！',
                    model: current_user,
                    url: admin_config_path,
                    controller_name: 'config_edit' } )