= render( partial: 'admin/shared/config_form',
          locals: { title: 'SAP設定',
                    card_title: '変更がある場合は右上の編集ボタンを押してください',
                    model: current_user,
                    url: '',
                    controller_name: 'config_show' } )
