= render( partial: 'admins/shared/laboratory_form',
          locals: { title: '研究室編集',
                    model: @laboratory,
                    url: admin_laboratory_path,
                    action_name: 'edit' } )
