= render partial: 'admin/shared/laboratory_form',
         locals: { title: '研究室追加',
                   model: @laboratory,
                   url: admin_laboratory_index_path,
                   action_name: 'new'}
