p = "#{@admin.university_name} #{@admin.faculty_name} #{@admin.department_name}"
p = "#{@user.name}様"
- if @admin.start_datetime <= Time.zone.now
  p SAPログインページが発行され、希望提出ができるようになりました。
- else
  p = "SAPログインページが発行され、#{@admin.start_datetime.to_s(:datetime_jp)}より希望提出ができます。"

p 以下のログイン情報を基にログインしてください
= @login_url
p = link_to("ログインページ", @login_url)
p = "Eメール：#{@user.email}"
p = "パスワード：#{@user.password_init}"

p ログイン完了後、マイページよりパスワード変更することを推奨します。

p = "希望提出締め切り：#{@admin.end_datetime.to_s(:datetime_jp)}"
p = "配属一覧閲覧期限：#{@admin.view_end_datetime.to_s(:datetime_jp)}"

それでは、良い配属になることを祈っております！
