= render( partial: 'admins/shared/config_form',
          locals: { title: 'SAP設定編集',
                    card_title: '以下より編集を行って下さい！',
                    model: current_admin,
                    url: admins_config_path,
                    controller_name: 'config_edit' } )