= render partial: 'admin/shared/student_form',
         locals: { title: '学生編集',
                   model: @student,
                   url: admin_student_path,
                   action_name: 'edit'}
