= render partial: 'admin/shared/student_form',
         locals: { title: '学生追加',
                   model: @student,
                   url: admin_student_index_path,
                   action_name: 'new'}
