/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import 'bootstrap';
@import 'font-awesome';
@import 'tempusdominus-bootstrap-4';
@import 'animate.min';


body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

@mixin xl {
  @media (min-width: ($xl)) {
    @content;
  }
}

@mixin lg {
  @media (min-width: ($lg)) {
    @content;
  }
}

@mixin md {
  @media (min-width: ($md)) {
    @content;
  }
}

@mixin sm {
  @media (min-width: ($sm)) {
    @content;
  }
}

// devise page
.sign-in-up-form {
  margin-top: 60px;
  @include sm {
    margin-top: 80px;
  }
  @include md {
    margin-top: 100px;
  }
  @include lg {
    margin-top: 120px;
  }
  @include xl {
    margin-top: 140px;
  }
}

// home

#home {
  overflow: hidden;
  img {
    width: 100%;
  }
  h1 {
    color: #777;
    font-family: ten-mincho, serif;
  }
  h2 {
    color: #555;
    font-family: ヒラギノ角ゴ ProN, W3;
  }
  h4 {
    color: #444;
    font-family: ten-mincho, serif;
  }
  p {
    width: 90%;
    color: #666;
    font-family: YuMincho, 'Yu Mincho', serif;
    font-size: 16px;
    @include sm {
      font-size: 17px;
    }
    @include md {
      font-size: 18px;
    }
    @include lg {
      font-size: 19px;
    }
    @include xl {
      font-size: 20px;
    }
  }
  .back {
    position: absolute;
    width: 200%;
    height: 180px;
    top: 50%;
    left: 50%;
    @include sm {
      height: 210px;
    }
    @include md {
      height: 240px;
    }
    @include lg {
      height: 270px;
    }
    @include xl {
      height: 300px;
    }
  }
  .content-wrap {
    background-color: rgba($color: #fcfcfc, $alpha: 0.75);
    border-radius: 2rem;
  }
}

#top {
  z-index: -1;
  position: relative;
  height: 600px;
  @include md {
    height: 100vh;
  }
  * {
    position: absolute;
  }
  .overlap {
    z-index: 10000;
  }
  img {
    height: 100%;
    object-fit: cover;
  }
  h1 {
    width: 100%;
    text-align: center;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    @include sm {
      font-size: 24px;
    }
    @include md {
      font-size: 32px;
    }
    @include lg {
      font-size: 40px;
    }
    @include xl {
      top: 85%;
      font-size: 46px;
    }
  }
}

#about {
  position: relative;
  .back {
    background-color: #3BB8EB;
    -webkit-transform: translate(-50%, 0) rotate(-40deg);
       -moz-transform: translate(-50%, 0) rotate(-40deg);
            transform: translate(-50%, 0) rotate(-40deg);
    @include sm {
      -webkit-transform: translate(-50%, 0) rotate(-35deg);
         -moz-transform: translate(-50%, 0) rotate(-35deg);
              transform: translate(-50%, 0) rotate(-35deg);
    }
    @include md {
      -webkit-transform: translate(-50%, 0) rotate(-30deg);
         -moz-transform: translate(-50%, 0) rotate(-30deg);
              transform: translate(-50%, 0) rotate(-30deg);
    }
    @include lg {
      -webkit-transform: translate(-50%, 0) rotate(-25deg);
         -moz-transform: translate(-50%, 0) rotate(-25deg);
              transform: translate(-50%, 0) rotate(-25deg);
    }
    @include xl {
      -webkit-transform: translate(-50%, 0) rotate(-20deg);
         -moz-transform: translate(-50%, 0) rotate(-20deg);
              transform: translate(-50%, 0) rotate(-20deg);
    }
  }
  .about-img-wrap {
    margin-bottom: 35px;
    @include md {
      margin-bottom: 0px;
      position: relative;
    }
  }
  img {
    width: 100%;
    max-height: 330px;
    @include md {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
#service {
  position: relative;
  .back {
    background-color: #AACD02;
    -webkit-transform: translate(-50%, 0) rotate(40deg);
       -moz-transform: translate(-50%, 0) rotate(40deg);
            transform: translate(-50%, 0) rotate(40deg);
    @include sm {
      -webkit-transform: translate(-50%, 0) rotate(35deg);
         -moz-transform: translate(-50%, 0) rotate(35deg);
              transform: translate(-50%, 0) rotate(35deg);
    }
    @include md {
      -webkit-transform: translate(-50%, 0) rotate(30deg);
         -moz-transform: translate(-50%, 0) rotate(30deg);
              transform: translate(-50%, 0) rotate(30deg);
    }
    @include lg {
      -webkit-transform: translate(-50%, 0) rotate(25deg);
         -moz-transform: translate(-50%, 0) rotate(25deg);
              transform: translate(-50%, 0) rotate(25deg);
    }
    @include xl {
      -webkit-transform: translate(-50%, 0) rotate(20deg);
         -moz-transform: translate(-50%, 0) rotate(20deg);
              transform: translate(-50%, 0) rotate(20deg);
    }
  }
  img {
    width: 150px;
    height: 150px;
    @include sm {
      width: 160px;
      height: 160px;
    }
    @include md {
      width: 180px;
      height: 180px;
    }
    @include lg {
      width: 200px;
      height: 200px;
    }
  }
}
#history {
  position: relative;
  .back {
    background-color: #E45F9D;
    -webkit-transform: translate(-50%, 0) rotate(-40deg);
       -moz-transform: translate(-50%, 0) rotate(-40deg);
            transform: translate(-50%, 0) rotate(-40deg);
    @include sm {
      -webkit-transform: translate(-50%, 0) rotate(-35deg);
         -moz-transform: translate(-50%, 0) rotate(-35deg);
              transform: translate(-50%, 0) rotate(-35deg);
    }
    @include md {
      -webkit-transform: translate(-50%, 0) rotate(-30deg);
         -moz-transform: translate(-50%, 0) rotate(-30deg);
              transform: translate(-50%, 0) rotate(-30deg);
    }
    @include lg {
      -webkit-transform: translate(-50%, 0) rotate(-25deg);
         -moz-transform: translate(-50%, 0) rotate(-25deg);
              transform: translate(-50%, 0) rotate(-25deg);
    }
    @include xl {
      -webkit-transform: translate(-50%, 0) rotate(-20deg);
         -moz-transform: translate(-50%, 0) rotate(-20deg);
              transform: translate(-50%, 0) rotate(-20deg);
    }
  }
  .about-img-wrap {
    margin-bottom: 35px;
    @include md {
      margin-bottom: 0px;
      position: relative;
    }
  }
  img {
    width: 100%;
    max-height: 330px;
    @include md {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
#guid {
}