/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import 'bootstrap';
@import 'font-awesome';
@import 'tempusdominus-bootstrap-4.css';
@import 'animate.min.css';

body {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

@mixin xl {
  @media (min-width: ($xl)) {
    @content;
  }
}
@mixin lg {
  @media (min-width: ($lg)) {
    @content;
  }
}
@mixin md {
  @media (min-width: ($md)) {
    @content;
  }
}
@mixin sm {
  @media (min-width: ($sm)) {
    @content;
  }
}

// devise page
.sign-in-up-form {
  margin-top: 60px;
  @include sm {
    margin-top: 80px;
  }
  @include md {
    margin-top: 100px;
  }
  @include lg {
    margin-top: 150px;
  }
  @include xl {
    margin-top: 180px;
  }
}

// init setting page
.init-setting-form {
  @include sm {
    margin-top: 20px;
  }
  @include md {
    margin-top: 35px;
  }
  @include lg {
    margin-top: 50px;
  }
  @include xl {
    margin-top: 70px;
  }
}

// home

#home {
  img {
    width: 100%;
  }
  h1 {
    color: #777;
    font-family: ten-mincho, serif;
  }
  h2 {
    color: #555;
    font-family: ヒラギノ角ゴ ProN, W3;
  }
  h4 {
    color: #444;
    font-family: ten-mincho, serif;
  }
  p {
    width: 90%;
    color: #777;
    font-family: 	YuMincho, 'Yu Mincho', serif;
    font-size: 16px;
    @include sm {
      font-size: 17px;
    }
    @include md {
      font-size: 18px;
    }
    @include lg {
      font-size: 19px;
    }
    @include xl {
      font-size: 20px;
    }
  }
}

#top {
  z-index: -1;
  position: relative;
  height: 600px;
  @include md {
    height: 100vh;
  }
  img {
    height: 100%;
    object-fit: cover;
  }
}

#top * {
  position: absolute;
}

#top h1 {
  width: 100%;
  text-align: center;
  top: 520px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  @include sm {
    top: 540px;
    font-size: 24px;
  }
  @include md {
    top: 80%;
    font-size: 32px;
  }
  @include lg {
    font-size: 40px;
  }
  @include xl {
    top: 85%;
    font-size: 48px;
  }
}

#about {
  .about-img-wrap {
    margin-bottom: 35px;
    @include md {
      margin-bottom: 0px;
      position: relative;
    }
  }
  img {
    width: 100%;
    max-height: 330px;
    @include md {
      position: absolute;
      top: 50%;
      left:50%;
      transform: translate(-50%, -50%);
    }
  }
}

#service {
  background-color: #FAFAFA;
  img {
    width: 150px;
    height: 150px;
    @include sm {
      width: 160px;
      height: 160px;
    }
    @include md {
      width: 180px;
      height: 180px;
    }
    @include lg {
      width: 200px;
      height: 200px;
    }
  }
}