<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'メールアドレスの変更を承認する',
            controller: 'devise/confirmations',
            action: 'create',
            confirmation_token: @token %></p>