p = "こんにちは#{@resource.email}さん"

p 誰かがあなたのパスワードを変更するためのリンクをリクエストしました。以下のリンクからパスワードの初期化を行えます。

p = link_to('パスワード初期化', edit_password_url(@resource, reset_password_token: @token, sap_key: @resource.admin.sap_key))

p このリクエストをご存知なければ、無視してください。

p 上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。
