= render( partial: 'admins/shared/import_form',
          locals: { title: '一括追加',
                    card_title: 'ユーザーを一括で追加できます',
                    csv_url: admins_import_csv_path,
                    excel_url: admins_import_excel_path } )