= render( partial: 'admins/shared/student_form',
          locals: { title: '学生追加',
                    model: @student,
                    url: admins_students_path,
                    action_name: 'new' } )
