script(async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
ins.adsbygoogle style="display:block" data-ad-client="ca-pub-3030083922438341" data-ad-slot="1699494596" data-ad-format="auto" data-full-width-responsive="true"
javascript:
  (adsbygoogle = window.adsbygoogle || []).push({});